.checklist__question {
  margin: 0;
}

.checklist__description {
  margin-top: 12px;
}

.layout button.button-back {
  background: none;
  border: none;
  color: #004fbd;
}

.radio-container {
  max-width: 600px;
  margin-top: 24px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 600px;
}

.button--back {
  margin-right: 12px;
}

.radio-group {
  margin-bottom: 16px;
  height: 70px;
  box-sizing: border-box;
  font-size: 1.2rem;
  position: relative;
}

.radio-group input[type="radio"] {
  display: inline-block;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 999;
}

.radio-group label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: white;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  padding-left: 12px;
  box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.24),
    -3px -2px 4px 0 rgba(255, 255, 255, 0.5);
  transition: background 0.1s linear, color 0.1s linear;
}

input[type="radio"] + label::before {
  content: "";
  width: 100%;
  display: inline-block;
  z-index: -1;
}

input[type="radio"]:checked + label {
  background: #006aff;
  color: #fff;
  box-shadow: none;
}

#checklist {
  position: relative;
  padding: 60px;
}

.checklist-item-wrapper {
  max-width: 750px;
  border-bottom: 2px solid #e0e4ea;
  padding: 24px 0;
}

.checklist-item-title {
  color: #000;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 24px;
  display: inline-block;
}
