.checklist-container {
  display: grid;
  grid-template-rows: [question-row-start] 120px [question-row-end options-row-start] 300px [options-row-end];
  grid-template-columns: [col-1-start] 600px [col-1-end];
}

.checklist__question {
  margin: 0;
  text-align: center;
  grid-row: question-row-start / question-row-end;
  grid-column: col-1-start / col-1-end;
}

.radio-container {
  grid-row: options-row-start / options-row-end;
  grid-column: col-1-start / col-1-end;
}

.button-container {
  position: fixed;
  bottom: 20vh;
}

.radio-group {
  padding: 8px 16px;
  margin-bottom: 16px;
  height: 70px;
  box-sizing: border-box;
  font-size: 1.2rem;
  position: relative;
  left: 12px;
}

.radio-group input[type="radio"] {
  display: inline-block;
  margin-right: 24px;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.radio-group label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  top: -26%;
  left: -12px;
  border-radius: 4px;
  z-index: -1;
  cursor: pointer;
  transition: background 0.1s linear, color 0.1s linear;
}

input[type="radio"]:checked + label::before {
  background: #006aff;
}

input[type="radio"]:checked + label {
  color: #fff;
}

#checklist {
  position: relative;
  padding: 60px;
}

.checklist-item-wrapper {
  max-width: 750px;
  border-bottom: 2px solid #e0e4ea;
  padding: 40px 0;
}

.checklist-item-title {
  color: #000;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 24px;
  display: inline-block;
}
