.checklist__question {
  margin: 0;
}

.checklist__description {
  margin-top: 12px;
}

.layout button.button-back {
  background: none;
  border: none;
  color: #004fbd;
}

.guideline-badge-icon {
  background: #004fbd;
  width: 28px;
  height: 28px;
  border-radius: 50px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guideline-badge-icon > img {
  width: 12px;
  height: 12px;
  margin: 0;
}

.layout button.button--print {
  font-size: 16px;
  height: 40px;
  width: auto;
  padding: 0 24px;
  border-radius: 4px;
  position: absolute;
  right: 158px;
}

.guideline-badge {
  background: #dee4ec;
  color: #004fbd;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 52px;
  padding: 0 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  max-width: 750px;
}

.checklist-goal {
  margin-top: 24px;
}

.guideline-badge:hover,
.guideline-badge:focus {
  background: #f0f2f5;
}

.radio-container {
  max-width: 600px;
  margin-top: 24px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 600px;
  margin-top: 24px;
}

.button--back {
  margin-right: 12px;
}

.radio-group {
  margin-bottom: 16px;
  height: 70px;
  box-sizing: border-box;
  font-size: 1.2rem;
  position: relative;
}

.radio-group input[type="radio"] {
  display: inline-block;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 999;
}

.radio-group label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: white;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  padding-left: 12px;
  box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.24),
    -3px -2px 4px 0 rgba(255, 255, 255, 0.5);
  transition: background 0.1s linear, color 0.1s linear;
}

input[type="radio"] + label::before {
  content: "";
  width: 100%;
  display: inline-block;
  z-index: -1;
}

input[type="radio"]:checked + label {
  background: #006aff;
  color: #fff;
  box-shadow: none;
}

#checklist {
  position: relative;
  padding: 60px;
}

.checklist-title-wrapper {
  border-bottom: 2px solid #e0e4ea;
  display: flex;
  align-items: center;
}

.checklist-title-wrapper > h1 {
  margin: 0 0 12px;
}

.checklist-item-wrapper {
  max-width: 1440px;
  padding: 24px 0;
  margin-bottom: 60px;
}

.checklist-item-wrapper > p {
  max-width: 740px;
}

.checklist-item__roles {
  display: block;
}

.checklist-item__roles__job {
  background-color: lightgrey;
  border-radius: 0.25rem;
  display: inline-block;
  margin: 0 0.5rem 1rem 0;
  padding: 0.5rem;
}

.checklist-item__copy-button {
  margin: 0 0 2rem 0;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  margin: 0 12px 12px 0;
  padding: 0;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-self: flex-start;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 32px;
  width: 32px;
  border: 1px solid #b3bfcf;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #f0f2f5;
}

.container input:checked {
  border: none;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #004fbd;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 12px;
  height: 18px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*
  Impact scores
*/
.impact {
  font-size: 12px;
  font-weight: bold;
  color: #25282d;
  border: none;
  border-radius: 50px;
  padding: 0 18px;
  max-width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  margin-left: auto;
  text-transform: uppercase;
}

.impact--minor {
  background: #dee4ec;
}

.impact--moderate {
  background: #008858;
  color: #ffffff;
}

.impact--major {
  background: #ffcb00;
}

.impact--critical {
  background: #e02d52;
  color: #ffffff;
}
