.header {
  background-color: #ffffff;
  height: 90px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 12px 0 12px 24px;
  box-sizing: border-box;
}

.header__title {
  text-decoration: none;
  color: #25282d;
}

.header__title > h1 {
  font-size: 1.5rem;
  margin: 0;
}

.header > p {
  font-size: 0.8rem;
}
