.header {
  background-color: #ffffff;
  border-bottom: 4px solid #e0e4ea;
  height: 90px;
  display: flex;
  flex-direction: column;
  padding: 12px 0 12px 24px;
}

.header__title {
  font-size: 1.5rem;
  margin: 0;
}

.header > p {
  font-size: 0.8rem;
}

.header__title > a {
  text-decoration: none;
  color: #25282d;
}
