.progress {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.progress[value] {
  appearance: none;
  height: 4px;
}

.progress[value]::-webkit-progress-bar {
  background: #e0e4ea;
}

.progress[value]::-webkit-progress-value {
  background: #004fbd;
}
